//- index.jade
extends ./layout.pug

block content
    .row
        .col-xs-12(style='height: 26em;')
            | My field
            br
            myfield
                canvas#canvas
                div(style='display:none;')
                    img#source(src='/images/fire.png')
            enemy
                | Enemy field
                canvas#canvas2.ctx2
        #bottombox.col-xs-8(style=' background-color: whitesmoke; overflow-y:scroll; height: 15em; margin-bottom: 4em;')
            ul#messages(style='')
            label#typing(style='display: none')
            form#room(action='')
                input#inpt(autocomplete='off', type='text')
                button Send
        .col-xs-4(style='background-color: lightskyblue')
            label Online users:
            ul#users
    script(src='/socket.io/socket.io.js')
    script.
        var socket = io();
        var input = $('#inpt');
        var ul = $('#messages');
        var form = $('#room');
        var userEl = $('#users');
        var image = document.getElementById("source");

        socket
            .on('message', function (username, message) {
                printMessage(username + "> " + message);
            })
            .on('leave', function (username) {
                printStatus(username + " вышел из чата");
            })
            .on('join', function (username) {
                printStatus(username + " вошёл в чат");
                socket.emit('users');
            })
            .on('connect', function () {
                printStatus("соединение установлено");
                form.on('submit', sendMessage);
                input.prop('disabled', false);
            })
            .on('disconnect', function () {
                printStatus("соединение потеряно");
                form.off('submit', sendMessage);
                input.prop('disabled', true);
                this.$emit('error');
            })
            .on('logout', function () {
                location.href = "/";
            })
            .on('error', function (reason) {
                if (reason == "handshake unauthorized") {
                    printStatus("вы вышли из сайта");
                } else {
                    setTimeout(function () {
                        socket.connect();
                    }, 500);
                }
            })
            .on('getUsers', function (users) {
                if (!sessionStorage.getItem('usersNames')) {
                    sessionStorage.setItem('usersNames', users);
                    console.log('localStorage users:')
                    console.log(sessionStorage.getItem('usersNames'))
                }
                listOfUsers(users);
                console.log('USERS:');
                console.log(users);
            });

        function printStatus(status) {
            $('<li>').append($('<i>').text(status)).appendTo(ul);
            moveDown();
        }
        function printMessage(text) {
            $('<li>').append($('<i>').text(text)).appendTo(ul);
            console.log($('#bottombox') + $(window).height());
            moveDown();
        }
        function listOfUsers (usersNames) {
            usersNames.forEach(function (name) {
                $('<li>').append($('<i>').text(name)).appendTo(userEl);
            })
        }

        function sendMessage() {
            var text = input.val();
            socket.emit('message', text, function() {
                printMessage("я> " + text);
            });
            input.val('');
            return false;
        }

        function moveDown () {
            $('#bottombox').scrollTop($('#bottombox').height()+$(window).height(), 5);
        }

        input.change(function() {
            socket.emit('typing', '#{user.username}');
        });
        socket.on('typeUser', function (userTypeName) {
            users.children().filter(function( index ){
                if ($( this ).text() === userTypeName) {
                    var nick = $( this );
                    nick.text(nick.text() + ' typing...');
                    nick.animate({ "opacity": "0.2" }, "slow" );
                    nick.animate({ "opacity": "0.8" }, "slow" );
                    nick.animate({ "opacity": "0.2" }, "slow" );
                    nick.animate({ "opacity": "1" }, "slow", function () {
                        nick.text($( this ).text().replace(' typing...',''));
                    } );
                }
            })
        });

        //grid width and height
        var bw = 211;
        var bh = 211;
        //padding around grid
        var p = 10;

        var canvas = document.getElementById("canvas");
        var canvas2 = document.getElementById("canvas2");
        canvas.width  = canvas2.width = 211;
        canvas.height = canvas2.height = 211;

        var ctx = canvas.getContext("2d");
        var ctx2 = canvas2.getContext("2d");

        function drawBoard(ctx) {
            for (var x = 0; x <= bw; x += 10) {
                ctx.moveTo(0.5 + x + p, p);
                ctx.lineTo(0.5 + x + p, bh + p);
            }

            for (var x = 0; x <= bh; x += 10) {
                ctx.moveTo(p, 0.5 + x + p);
                ctx.lineTo(bw + p, 0.5 + x + p);
            }

            ctx.strokeStyle = "#51CCF5";
            ctx.stroke();
        }

        drawBoard(ctx);
        drawBoard(ctx2);

         var x = 20,
             y = 20,
             wid = 20,
             hei = 20;

        drawRect(ctx2, x, y, wid, hei);
        drawAIM(ctx, x, y, wid, hei);

        function drawRect(ctx, x, y, wid, hei) {
            ctx.fillStyle = 'red';
            ctx.fillRect(x-5, y-5, wid/2, hei/2);
        }

        function drawAIM(ctx, x, y, wid, hei) {
            ctx.fillStyle = 'red';
            ctx.fillRect(x-5, y-5, wid/2, hei/2);
        }

        var USER = {
            x: 0,
            y: 0,
            enemyShots: [],
            myShots: [],
            shot: true
        }
        window.onkeydown = function (event) {
            var keyPr = event.keyCode;
            if (USER.shot) {
                if (keyPr === 39 && x <= 180) {
                    x = x + 20;
                    USER.x += 1;
                }
                else if (keyPr === 37 && x > 20) {
                    x = x - 20;
                    USER.x -= 1;
                }
                else if (keyPr === 38 && y > 20) {
                    y = y - 20;
                    USER.y -= 1;
                }
                else if (keyPr === 40 && y <= 180) {
                    y = y + 20;
                    USER.y += 1;
                }
                else if (keyPr === 32) {
                    USER.fire = {x: USER.x, y: USER.y};
                    socket.emit('fire', USER.fire);
                    USER.myShots.push({x: USER.x, y: USER.y});
                    drawFire(ctx2, null, USER.myShots);
                }

                ctx2.clearRect(0, 0, 211, 211);
                drawBoard(ctx2);
                drawFire(ctx2, null, USER.myShots);
                drawRect(ctx2, x, y, wid, hei);
                socket.emit('userMove', {x: x, y: y});
            } else {
                ctx2.globalAlpha = 0.5;
            }
        };

        socket.on('enemyMove', function (coordinates) {
            ctx.clearRect(0, 0, 211, 211);
            drawBoard(ctx);
            drawFire(ctx, null, USER.enemyShots);
            drawAIM(ctx, coordinates.x, coordinates.y, wid, hei);
        });

        socket.on('enemyFire', function (coordinates) {
            USER.enemyShots.push(coordinates);
            drawFire(ctx, coordinates)
        });

        function drawFire(ctx, coordinates, User) {
            if (coordinates) {
                ctx.drawImage(image, coordinates.x * 20 + 11, coordinates.y * 20 + 11);
            } else {
                User.forEach(function (shot) {
                    ctx.drawImage(image, shot.x * 20 + 11, shot.y * 20 + 11);
                })
            }
        }