html
   body.back
     link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
     link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
     script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
     script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
     link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
     link(href='stylesheets/style.css', rel='stylesheet')
     .container.background
         .row
             .col-md-6.col-md-offset-3
                 h4
                     | Enter user name and password.
                     | If user not found - we'll create him.
                 form.form-horizontal.login-form(name='login-form')
                     .form-group
                         label.col-lg-2.control-label(for='input-username') Name
                         .col-lg-10
                             input#input-username.form-control(name='username', value='name', type='text', placeholder='Name')
                     .form-group
                         label.col-lg-2.control-label(for='input-password') Password
                         .col-lg-10
                             input#input-password.form-control(name='password', value='pass', type='password', placeholder='Password')
                     .form-group
                         .col-lg-offset-2.col-lg-10
                             button.btn.btn-primary(type='submit', data-loading-text='Sending...') Log In
                             span.help-block.error
                 script.
                     $(document.forms['login-form']).on('submit', function () {
                         var form = $(this);
                         $('.error', form).html('');
                         $(":submit", form).button("loading");
                         $.ajax({
                             url: "/login",
                             method: "POST",
                             data: form.serialize(),
                             complete: function () {
                                 $(":submit", form).button("reset");
                             },
                             statusCode: {
                                 200: function () {
                                     form.html("You are login!").addClass('alert-success');
                                     window.location.href = "/";
                                 },
                                 403: function (jqXHR) {
                                     var error = JSON.parse(jqXHR.responseText);
                                     console.log(error);
                                     $('.error').html(error.message);
                                 }
                             }
                         });
                         return false;
                     });