@import url(http://fonts.googleapis.com/css?family=Roboto:400);

.container {
  /*padding: 25px;*/
  /*position: fixed;*/
}

.form-login {
  background-color: #EDEDED;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;
}

h4 {
  border:0 solid #fff;
  border-bottom-width:1px;
  padding-bottom:10px;
  text-align: center;
}

.form-control {
  border-radius: 10px;
}

.wrapper {
  text-align: center;
}

.back {
  background-image: url('../images/back2.jpg');
  background-repeat: repeat;
}

.container.background {
    background-color: rgba(149, 212, 204, 0.7);
    width: 60%;
}

.padding15 {
    margin: 7px;
}

.error {
    color: red;
}
.navbar {
  margin-bottom: 0px !important;
}

.row {
  overflow: hidden;
}

.ctx2 {
  /*margin-left: 50%;*/
}

enemy {
  /*top: 0px;*/
}
