nav.navbar.navbar-inverse
    .container-fluid
        .navbar-header
            a.navbar-brand(href='#') WarShip
        ul.nav.navbar-nav
            li.active
                a(href='#') Home
        ul.nav.navbar-nav.navbar-right
            li
                if user
                    a(href='', onclick="$('<form method=POST action=/logout>').submit(); return false")
                        span.glyphicon.glyphicon-log-in
                        |  Log Out
                else
                    a(href='/login')
                        span.glyphicon.glyphicon-log-in
                        |  Log In